<!DOCTYPE html>
<html>
<head>
    <title>Video Watermarking</title>
</head>
<body>
    <form method="POST" action="/watermark" enctype="multipart/form-data">
        <label for="user_info">User Info:</label>
        <input type="text" name="user_info" id="user_info"><br>
        <label for="video_info">Video Info:</label>
        <input type="text" name="video_info" id="video_info"><br>
        <label for="video_file">Select a video file:</label>
        <input type="file" name="video_file" id="video_file"><br>
        <input type="submit" value="Watermark">
    </form>
</body>
</html>
